.Lprocesstag {
    width: 40px;
    height: 40px;
    background: #F5DF4D;
    border-radius: 50pt;
    position: relative;
}
.Lprogressnum1 {
    font-size: 24px;
    position:absolute;
    margin-left: 34%;
}
.Lprogresstitle {
    font-size: 24px;
    margin-left: 10px;
}
.Lprocesstag2 {
    width: 40px;
    height: 40px;
    color: white;
    background: #646464;
    border-radius: 50pt;
    position: relative;
}
.Lprogressnum2 {
    font-size: 24px;
    position:absolute;
    margin-left: 34%;
}
.Lprogresstitle2 {
    font-size: 24px;
    margin-left: 10px;
}
.Lprocesstag3 {
    width: 40px;
    height: 40px;
    color:white;
    background: #646464;
    border-radius: 50pt;
    position: relative;
}
.Lprogressnum3 {
    font-size: 24px;
    position:absolute;
    margin-left: 34%;
}
.Lprogresstitle3 {
    font-size: 24px;
    margin-left: 10px;
}
.LDataInputArea{
    display: flex;
    justify-content: space-between;
}
.LProductConfirmArea {
    background: #F5DF4D;
}
.LDataInputheader {
    background: #F5DF4D;
}
.LComfirmbtn {
    background: #F5DF4D;
    color: white;
    
}
.LComfirmbtn:hover {
    opacity: 80%;
}
.noticetext {
font-size: 12px;
}
