/* header */
.MKHotelHeaderTitle {
  margin: 0 auto;
  width: 70%;
  letter-spacing: 5px;
  text-align: start;
}
.MKHotelHeaderTitle > p {
  font-size: 1.5rem;
  font-weight: medium;
}
.MKtitle-text {
  font-size: 1rem;
  font-weight: 300;
  width: 50%;
}

/* hotel-avatar */

// .MKHotelRowAvatar {
//   margin: 0 auto;
//   display: flex;
//   justify-content: space-evenly;
// }
// .MKHotelAvatar {
//   width: 80%;
//   display: flex;
//   justify-content: space-evenly;
// }
// .MKbigHotelAvatar {
//   width: 55%;
//   margin-left: 2rem;
// }
// .MKbigHotelAvatar > img {
//   width: 100%;
//   object-fit: fill;
//   border-radius: 30px;
// }
// .MKsmallHotelAvatar {
//   display: flex;
//   justify-content: space-around;
//   flex-direction: column;
// }
// .MKsmallHotelAvatar > img {
//   width: 120px;
//   height: 120px;
//   border-radius: 30px;
//   object-fit: fill;
// }
.MKHPCarousel {
  margin: 0 auto;
  max-width: 80%;
  max-height: 700px;
}
.MKHPCarouselBox {
  max-width: 100%;
  max-height: 700px;
}
.MKHPCarouselimg {
  width: 100%;
  min-height: 700px;
  border-radius: 30px 30px 0 0;
  object-fit: fill;
}
/* booking form */
// .MKbooking {
//   width: 360px;
//   height: auto;
//   box-shadow: 1px 2px 10px rgba(94, 91, 91, 0.126);
//   /* text-align: center; */
//   padding: 0px 0 15px 0;
//   border-radius: 10px;
//   margin: 10rem auto;
//   overflow: hidden;
//   background-color: #ffffff;
// }
// .MKbookBanner {
//   /* border-radius: 10px 10px 0 0; */
//   height: 70px;
//   background: #f5df4d;
//   /* background-size: 100% 35%; */
//   background-size: cover;
//   margin-bottom: 1rem;
// }
// .MKbookBanner > h2 {
//   font-size: 1.5rem;
//   color: #ffffff;
//   padding-top: 1.5rem;
//   text-align: center;
// }
// .MKbookFormGroup {
//   margin-top: 0.5rem;
//   margin-bottom: 1.2rem;
//   margin-right: 4rem;
//   margin-left: 4rem;
//   font-size: 0.9rem;
// }
// .MKbookFormGroup > input {
//   font-size: 0.9rem;
//   font-weight: 300;
//   height: 30px !important;
//   width: 230px !important;
//   // text-align: center;
// }

// .MKlogin {
//   color: white;
//   margin-top: 0.5rem;
//   margin-bottom: 0.5rem;
//   margin-left: 120px;
//   background: #f5df4d;
//   border: 1px solid #f5df4d;
//   border-radius: 50pt;
//   width: 120px;
//   font-size: 0.9rem;
//   line-height: 1.2rem;
// }

// label {
//   margin-bottom: 0;
//   font-size: 0.9rem;
// }
// .MKlogin:hover {
//   color: white;
//   opacity: 0.7;
// }
// /* COST */

// .MKdatePrice {
//   width: 60%;
//   margin: 0 auto;
//   display: flex;
//   justify-content: space-between;
// }

// .MKperCost {
//   font-size: 0.9rem;
//   font-weight: 300;
// }

/* roomService */
.MKrowService {
  display: flex;
  width: 70%;
  margin: 0 auto;
  margin-top: 10rem;
}
.MKroomService {
  width: 50%;
}
.MKcreditCard {
  width: 50%;
}
.MKservice {
  list-style: none;
  display: flex;
  margin-left: 2rem;
  padding-top: 1rem;
}
.MKservice > li {
  padding-left: 3rem;
}
.MKdetailIcon {
  width: 40px;
  height: 40px;
}
.MKcollapsible {
  background-color: #f5df4d;
  border-radius: 15px 15px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
.MKactive,
.MKcollapsible:hover {
  box-shadow: 1px 2px 10px rgba(94, 91, 91, 0.404);
}
.MKcontent {
  border-radius: 0 0 15px 15px;
  padding: 0rem 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  box-shadow: 1px 2px 10px rgba(94, 91, 91, 0.201);
}
/* map */
.MKrow-map {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.MKrow-map > iframe {
  width: 80%;
  height: 25rem;
}

/* hotel comment */
.MKHotelRowComment {
  width: 65%;
  margin: 10rem auto;
  padding: 3rem 0;
  box-shadow: 1px 2px 10px rgba(94, 91, 91, 0.126);
}
.MKHotelComm {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.MKcom-header {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.MKcom-header-title {
  font-size: 1.5rem;
}
.MKcom-box {
  display: flex;
  width: 100%;
  padding: 1rem;
  box-shadow: 1px 2px 10px rgba(94, 91, 91, 0.301);
  margin-bottom: 1rem;
}
.MKstart {
  display: flex;
  color: #f5df4d;
  margin-bottom: 3px;
}

.MKcomNameH {
  font-size: 1rem;
  margin-bottom: -10px;
}
.MKcomMsn > h6 {
  font-weight: 400;
  word-wrap: 100%;
}
.MKcom-user {
  margin-top: 5px;
}
.MKcom-avatar {
  border-radius: 90px;
  width: 60px;
  height: 60px;
  margin: 1rem;
}
.MKcom-avatar > img {
  border-radius: 90px;
  width: 60px;
  height: 60px;
  object-fit: fill;
}
/* btn */
.MKHProwBtn {
  display: flex;
  justify-content: center;
}
.MKHPutton {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 172px;
  height: 35px;
  border: 2px solid #f5df4d;
  border-radius: 90px;
  text-align: center;
  background-color: #fff;
}
.MKHPutton:hover {
  background-color: #f5df4d;
}
.MKHPcard-btn {
  background-color: transparent;
  width: 100%;
  height: 30px;
  color: #646464;
  border: none;
  font-size: 1rem;
  // position: relative;
}
.MKHPcard-btn:hover {
  color: #fff;
}

/* RWD */
@media screen and (max-width: 992px) {
  .MKHotelAvatar {
    width: 100%;
    margin-bottom: 0rem;
    padding: 0;
  }
  .MKbigHotelAvatar {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .MKbigHotelAvatar > img {
    width: 100%;
  }
  .MKsmallHotelAvatar {
    display: none;
  }
  .MKHotelRowComment {
    width: 95%;
  }
  .MKcomment {
    width: 100%;
  }
  .MKrowService {
    width: 100%;
  }
  .MKroomService {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .MKcreditCard {
    width: 100%;
  }
  .MKcontent {
    width: 100%;
    padding: 0px;
  }
  .MKservice {
    padding-left: 0;
    margin-left: 16px;
  }
  .MKcommBtnH {
    margin: 0;
    margin-top: 5rem;
  }
}
