/* header */
.MKheader-title {
  width: 90%;
  letter-spacing: 5px;
  text-align: start;
  margin: 0 auto;
}
.MKheader-title > p {
  font-size: 1.5rem;
  font-weight: medium;
}
.MKtitle-text {
  font-size: 1rem;
  font-weight: 300;
  width: 50%;
}

/* avatar */

.MKrowAvatar {
  margin: 0 auto;
  width: 60%;
  border-radius: 30px;
}

// .MKadoptPageAvatar {
//   width: 100%;
//   height: 50%;
//   margin: 0 auto;
//   margin-bottom: 3rem;
//   display: flex;
//   justify-content: space-between;
// }
.MKAPCarousel {
  margin: 0 auto;
  max-width: 80%;
}
.MKAPCarouselBox {
width: 100%;
height: 60%;
}

.MKAPCarouselimg {
  width: 100%;
  max-height: 650px;
  border-radius: 30px 30px 0 0;
  object-fit: fill;
}
/* detail part */
.MKrowDetail {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8rem;
  box-shadow: 2px 2px 10px rgba(94, 91, 91, 0.126);
  align-items: center;
  align-content: center;
}
.MKdetail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3rem 0;
}
.MKdetail-ul {
  width: 40%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding-left: 4rem;
  align-content: center;
  align-items: center;
  padding-left: 5rem;
}

.MKdetail-icon {
  color: #f5df4d;
}
.MKdetail-title {
  font-size: 1rem;
  padding-top: 1rem;
}
.MKdetail-text {
  font-weight: 300;
  width: 60%;
  padding-top: 1rem;
}
/* button & hover */
.MKdetail-btn {
  display: flex;
  justify-content: center;
}
/* comment */
.MKrowComment {
  width: 80%;
  margin: 10rem auto;
  padding: 3rem 0;
  box-shadow: 1px 2px 10px rgba(94, 91, 91, 0.126);
}
.MKcomment {
  width: 80%;
  margin: 0 auto;
}
.MKcom-header {
  width: 80%;
  margin: 0 auto;
}
.MKcom-header-title {
  font-size: 1.5rem;
}
.MKcom-box {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: 1px 2px 10px rgba(94, 91, 91, 0.301);
  justify-items: center;
}

.MKcom-name {
  color: #f5df4d;
  font-size: 1rem;
  margin-bottom: -10px;
}
.MKcom-msn > h6 {
  font-weight: 400;
  width: 13rem;
}
.MKcom-avatar {
  width: 2rem;
  height: 2rem;
  border: 1px solid #4994be;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.MKcom-avatar > span {
  color: #4994be;
  padding-left: auto;
}
.MKcommBtn {
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
}
.MKcomButton:hover {
  background-color: #f5df4d;
}
.MKcomButton {
  width: 200px;
  height: 35px;
  border: 2px solid #f5df4d;
  border-radius: 90px;
  text-align: center;
}
.button-G {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 3rem;
  width: 170px;
  height: 35px;
  border: 2px solid #939597;
  border-radius: 90px;
  text-align: center;
  background-color: #fff;
  &:hover {
    background-color: #939597;
    color: white;
  }

  &:focus {
    background-color: #939597;
    color: white;
  }

  // &:active {
  //   background-color: #939597;
  //   color: white;
  // }

  // &:visited {
  //   background-color: #939597;
  //   color: white;
  // }
}
.MailBtn {
  margin-right: 1rem;
}

/* RWD */
@media screen and (max-width: 992px) {
  .MKrowAvatar {
    margin-bottom: 6rem;
  }
  .MKadoptPageAvatar {
    width: 100%;
  }
  .MKadoptPageAvatar > img {
    margin: 0 auto;
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 30px;
  }
  .slick-arrow .slick-prev {
    display: none;
  }
  .MKsmall-avatar {
    display: none;
  }
  .MKrowDetail {
    width: 90%;
    margin: auto;
  }
  .MKbutton-G {
    display: none;
  }
  .MKdetail-ul {
    width: 100%;
    display: flex;
    padding-left: 3rem;
  }
  .MKrowComment {
    width: 95%;
  }
  .MKcomment {
    width: 100%;
  }
  .MKcommBtn {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
}
