.container {
  width: 100%;
}

.ACblogListBanner {
  margin-top: 2%; //有調整
  display: flex;
}

.ACblogListBanner-left {
  flex: 6;
  height: 450px;
}
.ACblogListBanner-left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 275px 275px 0;
}

.ACblogListBanner-right {
  flex: 4;
  background: linear-gradient(to right, rgba(244, 244, 244, 0.4) 20%, #e5e5e5);
  border-radius: 275px 0 0 275px;
  position: relative;
}
.ACblogListBanner-text {
  position: absolute;
  top: 40%;
  left: 20%;
}

.ACblogListBanner-text > h2 {
  text-align: end;
}
.ACblogListBanner-text > p {
  font-size: 1rem;
  color: #646464;
  text-align: end;
}

/* mobile-banner */
.m-ACblogListBanner {
  display: none;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 15%;
}

.m-ACblogListBanner-text > h2 {
  text-align: center;
}
.m-ACblogListBanner-text > p {
  font-size: 1rem;
  color: #646464;
  text-align: center;
}

// RWD

@media screen and (max-width: 992px) {
  .ACblogListBanner {
    display: flex;
    flex-wrap: wrap;
  }
  .ACblogListBanner-left {
    width: 100%;
  }
  .ACblogListBanner-right {
    display: none;
  }
  .m-ACblogListBanner {
    display: block;
    justify-content: center;
  }
}
