.ACblogList-container {
    display: flex;
    flex-direction: column;
}

.ACblogListCard{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}