.ACadoptCard {
  width: 280px;
  border: none;
  cursor: pointer;
}

.ACadoptCard:hover {
  transform: scale(1.02);
  box-shadow: 1px 2px 15px rgba(94, 91, 91, 0.126);
  transition: 0.5s;
  text-decoration: none;
}

.ACadoptAvatar {
  width: 200px;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.ACadoptAvatar > img {
  width: 100%;
}


.m-ACadoptAvatar {
  width: 260px;
  height: 260px;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
  margin: auto;
}

.m-ACadoptAvatar > img {
  width: 100%;
}

.ACadoptCardContent:hover {
  text-decoration: none;
}

.ACadoptcardTitle {
  color: #000;
}

.ACadoptcardText {
  font-size: 0.9rem;
  color: #646464;
  text-decoration: none;
}

.m-ACadoptcardText {
  font-size: 1rem;
  color: #646464;
  text-decoration: none;
}

.ACadoptBtnSection {
  background-color: transparent;
}

.ACYellowOutlineBtn {
  width: 200px;
  border-radius: 20px;
  border: 2px solid #f5df4d;
  background-color: #fff;
  color: #646464;
  margin: 5px 0px 25px 0px;
  text-align: center;
}

.ACYellowOutlineBtn:hover {
  background-color: #f5df4d;
  border-color: #fff;
  color: white;
}

.ACknowmoreBtn:hover {
  text-decoration: none;
}

.m-ACYellowOutlineBtn {
  width: 180px;
  border-radius: 20px;
  border: 2px solid #f5df4d;
  background-color: #fff;
  color: #646464;
  text-align: center;
}

.m-ACYellowOutlineBtn:active {
  background-color: #f5df4d;
  border-color: #fff;
  color: white;
  text-decoration: none;
}
