.ACproductList-container {
    display: flex;
    flex-direction: column;
}

.ACtitle-container {
    display: flex;
    justify-content: center;
    // margin: 5% auto 4%;
    width: 100%;
  }
  
  .ACproductListTitle {
    margin: 0 10%;
    font-size: 1.5rem;
    color: #646464;
    font-weight: 500;
  }
  
  @media (max-width: 768px) {
    .ACproductListTitle {
      margin: 0 2%;
    }
  }

.ACHomeProductCards{
    width: 68%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}