.ACcarouselSection {
  width: 100%;
  height: 680px;
  background-color: #f5df4d;
  position: relative;
  z-index: 1;
  margin-top: 90px;
}

.ACsliderCSS {
  width: 100%;
  padding: 0px 0px 0px 180px;
  z-index: 2;
}

.ACsliderBar {
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 0;
  z-index: 3;
}

.m-slider1 {
  height: 500px;
}

#ACmember-adopt {
  position: absolute;
  bottom: 10%;
  left: 15%;
  z-index: 4;
  color: #646464;
  text-align: center;
}

#ACmember-hotel {
  position: absolute;
  bottom: 10%;
  left: 30%;
  z-index: 5;
  color: #646464;
  text-align: center;
}

#ACmember-ID {
  position: absolute;
  bottom: 10%;
  left: 45%;
  z-index: 6;
  color: #646464;
  text-align: center;
}

#ACmember-999 {
  position: absolute;
  bottom: 10%;
  left: 60%;
  z-index: 7;
  color: #646464;
  text-align: center;
}

.ACmembericon {
  font-size: 2rem;
}

.ACmembertext {
  font-size: 0.9rem;
  margin-top: 4px;
}

.ACjoinMemberBtn {
  position: absolute;
  bottom: 10%;
  left: 75%;
}

.ACYellowOutlineBtn {
  width: 200px;
  border-radius: 20px;
  border: 2px solid #f5df4d;
  background-color: #fff;
  color: #646464;
  margin: 5px 0px 25px 0px;
  text-align: center;
}

.ACYellowOutlineBtn:hover {
  background-color: #f5df4d;
  border-color: #fff;
  color: white;
}

.m-ACcarouselSection {
  width: 100%;
  height: 500px;
  background-color: #f5df4d;
  z-index: 1;
}

// .m-sliderCSS {
//   position: relative;
// }

.m-ACsliderCSS img{
  width: 100%;
}

.m-ACsliderbar {
  width: 100%;
  height: 400px;
  background-color: #fff;
}

.m-ACsliderTitle {
  color: #fff;
  position: absolute;
  left: 10%;
  bottom: 5%;
}

#m-ACmember-adopt, #m-ACmember-hotel, #m-ACmember-ID, #m-ACmember-999 {
  color: #646464;
  text-align: center;
}
