.m-ACblogHotTag {
  flex: 6;
  width: 70%;
  height: 50px;
  background-color: #f5df4d;
  object-fit: cover;
  border-radius: 0 150px 150px 0;
  margin-bottom: 10%;
}

.m-ACblogHotTag span {
  font-size: 1.5rem;
  font-family: 'Chelsea Market', cursive;
  color: #fff;
  text-align: center;
  letter-spacing: 0.2rem;
}

.m-ACHotTopicText {
    color: #646464;
}