.topYellow {
  width: 100%;
  height: 15px;
  background-color: #f5df4d;
}

.container {
  padding: 0px;
}

.navCSS {
  position: sticky;
  top: 0;
  width: 100%;
  background: #fff;
}

.navtext {
  color: #646464;
  font-size: 1rem;
}

#collasible-nav-dropdown {
  color: #646464;
  font-size: 1rem;
}

.navicon {
  color: #646464;
  font-size: 1.2rem;
}

@media screen and (max-width: 996px) {
  .navicon{
    display: none;
  }
}

.breadcrumb-item {
  font-size: 0.9rem;
}