@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

.productList-container {
  display: flex;
  flex-direction: column;
}

span {
  color: #646464;
}

a {
  text-decoration: none;
  color: #646464;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
}

.breadCrumb {
  margin-left: 18%;
}

.productTags {
  margin: 30px auto 50px;
}

.productCards {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}
