.progress {
  height: 7px;
  border-radius: 0;
}

.ACbarPosition {
  width: 100%;
  height: 7px;
  position: fixed;
  top: 82px;
  left: 0;
  background-color: #e5e5e5;
  z-index: 99999;
}

// .ACprogress {
//   height: 7px;
//   width: 0px;
//   background-color: #f5df4d;
// }
