* {
    margin: 0;
    padding: 0;
}
.addressEditForm {
    // display:flex;
    align-items: flex-end;
    position: relative;
}

.addressEditCard {
    max-width: 360px;
    height: auto;
    /* min-height: 200px; */

    /* text-align: center; */
    padding: 0px 0 15px 0;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    overflow: hidden;

    background-color:#ffffff;
}

.addressEditForm-group>input{
    height: 30px !important;
    width: 230px !important;
}


.addressEditBanner {
    /* border-radius: 10px 10px 0 0; */
    height: 60px;
    background: #F5DF4D;
    /* background-size: 100% 35%; */
    background-size: cover;
    margin-bottom: 1rem;

}
.addressEditBanner>h2{
    letter-spacing:2px;
    font-size: 1.5rem;
    color: #ffffff;
    padding-top: 1rem;
    text-align: center;
}
.addressEditForm-group {
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    margin-right: 4rem;
    margin-left: 4rem;
}

.addressEditBtn {
    color: white;
    margin-top : .5rem;
    margin-bottom : .5rem;
    margin-left : .5rem;
    margin-left :120px;
    background: #F5DF4D;
    border: 1px solid #F5DF4D;
    border-radius: 50pt ;
    width: 120px ;
    font-size:0.9rem;
    line-height:1.2rem;

}
.addressEditForm-group>label{
    margin-bottom: 0;
    font-size:0.9rem;
}
.addressEditBtn:hover {
    color: white;
    opacity:0.7;
}

.addressEdit-group{
    flex-grow: 1;
}
//背景貓腳
.addressEditCatHand1{
    position: absolute;
    margin-left: 40px;
    margin-top: 300px;
    transform:rotate(10deg);
}
.addressEditCatHand2{
    position: absolute;
    margin-left: 590px;
    margin-top: -30px;
    transform:rotate(10deg);
}
.addressEditCheck{
    margin: 0;
    font-size:0.5rem;
}
#addressEditcheckbox{
    margin-left: 18%;
}
@media (max-width: 768px) { 
    .addressEditInfo{
        width: 100%;
        order: 2;
    }
    .addressEdit-group{
        width: 100%;
        order: 2;
    }

    .addressEditBtn{
        order: 3;
        margin-left: 33%;
    }
    .addressEditCatHand1{
        display: none;
     }
     .addressEditCatHand2{
         display: none;
     }

}