// 毛孩找家
#adoptSection {
  width: 100%;
  height: 700px;
  background-color: #e5e5e5;
  // padding: 10% 0;
  position: relative;
}

.ACadoptBN {
  width: 580px;
  height: 100%;
  padding: 30% 0;
}

.ACadoptBN img {
  width: 85%;
}

.ACadoptTitle {
  position: absolute;
  top: 200px;
  left: 16%;
  z-index: 20;
}

.ACadoptTitle span {
  color: #fff;
  font-size: 3rem;
  font-family: 'Chelsea Market', cursive;
}

.ACadoptText {
  position: absolute;
  top: 450px;
  left: 15%;
  z-index: 20;
}

.ACadoptText p {
  color: #646464;
}

.m-ACadoptText {
  position: absolute;
  top: 600px;
  left: 10%;
  margin: 0 auto;
  z-index: 20;
}

.m-ACadoptText p {
  color: #646464;
}

.ACadoptBtn {
  position: absolute;
  top: 600px;
  left: 16%;
  z-index: 20;
}

#ACadoptSection3Card {
  background: linear-gradient(to bottom, #e5e5e5 20%, #ffffff);
  padding: 200px 0 50px 0;
  // width: 100%;
  // height: 550px;
  // margin-bottom:15%;
}

// 毛孩雜貨
#ACproductSection {
  margin: 10% 0;
  position: relative;
}

.ACdogProductBN {
  padding-right: 3px;
}

.ACdogProductBN img {
  width: 100%;
}

.ACdogBtn {
  position: absolute;
  right: 52%;
  bottom: 5%;
  z-index: 10;
}

.ACcatProductBN {
  padding-left: 3px;
}

.ACcatProductBN img {
  width: 100%;
}

.ACcatBtn {
  position: absolute;
  left: 52%;
  bottom: 5%;
  z-index: 10;
}

.m-ACdogProductBN {
  position: relative;
}

.m-ACdogProductBN img {
  width: 100%;
}

.m-ACdogBtn {
  // margin: 5% auto;
  position: absolute;
  top: 80%;
  left: 50%;
}

.m-ACcatProductBN {
  position: relative;
  margin-bottom: 20%;
}

.m-ACcatProductBN img {
  width: 100%;
}

.m-ACcatBtn {
  position: absolute;
  top: 82%;
  left: 3%;
}

// 毛孩雜貨：3張卡片
#ACproductSection3Card {
  margin-bottom: 10%;
  display: flex;
  flex-wrap: nowrap;
}

.ACnewArrCard {
  position: relative;
  width: 300px;
  height: 100%;
}

.ACnewArrCard img {
  width: 100%;
  object-fit: cover;
}

.ACtag {
  width: 150px;
  height: 40px;
  background-color: #f5df4d;
  text-align: center;
  align-self: center;
  position: absolute;
  top: 0;
  right: 0;
}

.ACtag span {
  color: #646464;
  text-align: center;
  line-height: 40px;
}

.ACnewArrCardText {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  // align-items: center;
  position: absolute;
  bottom: 10%;
  left: 25%;
}

.ACnewArrCardText span {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-family: 'Chelsea Market', cursive;
}

// 毛孩旅宿
#AChotelSection {
  width: 100%;
  height: 700px;
  position: relative;
  margin-top: 12%;
}

.AChotelBN {
  position: absolute;
  top: 0;
  left: 350px;
  z-index: 20;
}

// .HotelBN img {
//   width: 80%;
// }

.m-ACHotelBN img {
  width: 80%;
}

.ACYellowDeco {
  width: 450px;
  height: 600px;
  border-radius: 275px;
  background: linear-gradient(to bottom, #f5df4d 20%, #ffffff);
  position: absolute;
  top: 0;
  left: -100px;
  z-index: 18;
}

.AChotelTitle {
  position: absolute;
  top: 15%;
  // left: 60%;
  left: 860px;
  z-index: 20;
}

.AChotelTitle span {
  color: #f5df4d;
  font-size: 3rem;
  font-family: 'Chelsea Market', cursive;
}

.AChotelText {
  position: absolute;
  top: 55%;
  // left: 59%;
  left: 850px;
  z-index: 20;
}

.AChotelText p {
  color: #646464;
}

.m-AChotelText p {
  color: #646464;
}

// 毛孩愛美
#ACsalonSection {
  width: 100%;
  height: 650px;
  position: relative;
}

.ACsalonBN {
  position: absolute;
  top: 0;
  // left: 46%;
  left: 650px;
  z-index: 20;
}

.m-ACsalonBN img {
  width: 80%;
}

.GrayDeco {
  width: 450px;
  height: 600px;
  border-radius: 275px;
  background: linear-gradient(to bottom, #e5e5e5 20%, #ffffff);
}

.GrayDeco1 {
  position: absolute;
  top: 0;
  // left: -15%;
  left: -200px;
}

.GrayDeco2 {
  position: absolute;
  top: 0;
  // left: 80%;
  left: 1130px;
}

.ACsalonTitle {
  position: absolute;
  top: 15%;
  // left: 20%;
  left: 290px;
  z-index: 20;
}

.ACsalonTitle span {
  color: #646464;
  font-size: 3rem;
  font-family: 'Chelsea Market', cursive;
}

.ACsalonText {
  position: absolute;
  top: 55%;
  // left: 19%;
  left: 280px;
  z-index: 20;
}

.ACsalonText p {
  color: #646464;
}

.m-ACsalonText p {
  color: #646464;
}

.AChotelBtn {
  margin-bottom: 100px;
}
