.DogProductBN {
    position: relative;
}
.DogBtn {
    position:absolute;
    bottom: 5%;
    left: 70%;
}

.GrayOutlineBtn {
    width: 200px;
    border-radius: 20px;
    border: 2px solid #646464;
    background-color: #fff;
    color: #646464;
    margin: 5px 0px 25px 0px;
    text-align: center;
}

.CatProductBN {
    position: relative;
}
.CatBtn {
    position:absolute;
    bottom: 5%;
    left: 4%;
}
  
.GrayOutlineBtn:hover {
    background-color: #646464;
    border-color: #fff;
    color: white;
}

.YellowOutlineBtn {
    width: 200px;
    border-radius: 20px;
    border: 2px solid #f5df4d;
    background-color: #fff;
    color: #646464;
    margin: 5px 0px 25px 0px;
    text-align: center;
}
  
.YellowOutlineBtn:hover {
    background-color: #f5df4d;
    border-color: #fff;
    color: white;
}

