// #ACblogContent {
//   margin: auto;
// }

.ACblogArticle-container {
  margin: 8% auto 15% auto;
}

.ACblogArticlePic {
  width: 100%;
  height: 100%;
  margin: 5% 0;
}

.ACblogArticleDate {
  font-size: 0.9rem;
  color: #939597;
  line-height: 2rem;
  text-align: justify;
  text-justify: auto;
}

.ACblogArticleText {
  color: #646464;
  line-height: 2rem;
  text-align: justify;
  text-justify: auto;
}

.ACblogArticleSpan {
  color: #000;
  font-weight: 500;
  line-height: 2rem;
  text-align: justify;
  text-justify: auto;
}

.ACblogArticleRef {
  font-size: 0.9rem;
  color: #939597;
  line-height: 2rem;
  text-align: justify;
  text-justify: auto;
}

.ACblogRCol {
  display: flex;
  flex-direction: column;
  margin: 15% 10% 0 0;
}
 
.ACRColTitle {
  border-bottom: 2px solid #f5df4d;
  margin: 3% 0;
}

.ACRColTitle h5 {
  font-weight: 500;
  color: #000;
}

.ACblogRColText h6 {
  color: #000;
}

.ACblogRColText:hover {
  text-decoration: none;
}

.ACRCol-HotTopicDate {
  font-size: 0.9rem;
  color: #939597;
}
